/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

/* Modern Layout 1 */
.layout1 article {
  width: 58%;
  float: left;
}

.layout1 aside {
  width: 40%;
  float: right;
}

.layout1 footer {
  clear: both;
}

/* Modern Layout 2 */
.layout2 header .logo {
  width: 20%;
  float: left;
  margin: 0;
}

.layout2 header nav {
  width: 78%;
  float: right;
  margin: 0;
}

/* simple clearfix to prevent collapse */
.layout2 header::after {
  display: table;
  content: '';
  clear: both;
}

.layout2 article {
  width: 50%;
  margin-left: 2%;
  float: left;
}

.layout2 aside.sidenav {
  width: 23%;
  float: left;
}

.layout2 aside.sidebar {
  width: 23%;
  float: right;
}

.layout2 footer {
  clear: both;
}

/* Modern Layout 3 */
.layout3 header .logo {
  width: 20%;
  float: right;
  margin: 0;
}

.layout3 header nav {
  width: 78%;
  float: left;
  margin: 0;
}

.layout3 header::after {
  display: table;
  content: '';
  clear: both;
}

.layout3 article {
  width: 32%;
  float: left;
  margin: 0 2% 0 0;
}

/* clear margin of last article to allow it to fit within layout */
.layout3 article:last-child {
  margin: 0;
}

.layout3 .articles::after {
  display: table;
  content: '';
  clear: both;
}
