/* ========================================

    Great resource for creating custom
    masking shapes in CSS3:
    http://bennettfeely.com/clippy/

   ====================================== */


/* Circle */

.clip-image-1 {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}