/* ========================================

    Great resource for creating custom
    masking shapes in CSS3:
    http://bennettfeely.com/clippy/

   ====================================== */


/* Circle */

.clip-image-1 {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}


/* Message box */

.clip-image-2 {
    -webkit-clip-path: polygon( 0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    clip-path: polygon( 0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}